- if current_user
  %div{ 'ng-controller' => 'ApplicationController',
    'ng-init' => "initialize({slack: #{@slack_integration.to_json}})" }
    = render 'header'
    = render 'dashboard'
    = render 'settings'
- else
  = render 'landing'
