- if current_user
  %div{ 'ng-controller' => 'ApplicationController',
    'ng-init' => "initialize({user: #{current_user.to_json}})" }
    = render 'header'
    = render 'dashboard'
    = render 'profile'
- else
  = render 'landing'
